[submodule "buildroot"]
	path = buildroot
	url = https://git.busybox.net/buildroot
[submodule "thingymcconfig-buildroot"]
	path = thingymcconfig-buildroot
	url = git@github.com:fifteenhex/thingymcconfig-buildroot.git
